@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.main {
  margin: auto;  
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

.join-discord {
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: rgb(116, 127, 224);
  padding: 10px;
  border-radius: 20px;
  border-color: white;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(124, 153, 153);
}

.navbar {
  overflow: hidden;
  background-color: rgb(75, 29, 105);
  position: fixed;
  height: 70px;
  width: 100%;
  z-index: 800;
}

.navbar a {
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  color: rgb(204, 191, 174);
  padding: 20px;
}

.card {
  display: inline-block;
  margin: auto;
  margin-top: 80px;
  background-color: rgb(225, 182, 250);
  padding: 40px;
  width: 80%;
  max-width: 1100px;
  text-align: center;
  border-radius: 25px;
  margin-bottom: 10px;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}

.form {
  margin-top: 40px;
  padding: 15px;
  border-radius: 15px;
  background-color: rgb(182, 155, 247);
  width: 90%;
  max-width: 900px;
  height: 100px;
  text-align: center;
  display: inline-block;
}

button {
  padding: 5px 10px;
  margin: 20px;
  background-color: rgb(203, 180, 216);
  border-radius: 20px;
  border-color: black;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}

.form .StripeElement {
  padding: 15px 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  margin: 3px;
}

.license {
  width: 60%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: rgb(225, 182, 250);
  border-style: solid;
  border-width: thin;
  padding: 40px;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}

.license .license-key {
  font-size: 20px;
  font-weight: bolder;
}

.flash {
  position: fixed;
  z-index: 889;
  right: 20px;
  bottom: 20px;
  background-color: blueviolet;
  padding: 30px 60px;
  border-radius: 15px;
}

.flash button {
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 10px;
  padding: 2px 2px;
  background-color: brown;
}

.loading {
  margin-left: auto;
  margin-right: auto;
}







